@font-face {
    font-family: "yekan";
    src: url('fonts/b-yekan.ttf') format('truetype'); 
}
*{
    font-family:"yekan";
}

.grad1{
    height: 100%;
    background: rgb(76, 0, 255); /* For browsers that do not support gradients */
    background: linear-gradient(to right,#b247a5, 
    rgb(248, 92, 118),rgb(248, 92, 118),
    rgb(248, 92, 118), rgb(236, 214, 14)); /* Standard syntax (must be last) */
    width: 100%;
    color: white;
    font-size:40px;
    /* line-height: 90px ; */
    text-align: center;
}

.header {
    height: 10vh;
    line-height: 10vh;
    top: 0;
    width: 100%;
}

.user_header{
    background: #facb5f; 
    height: 100%;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.user_pic{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.prof_img_border{
    margin-right: 10px;
    border-left: 1px solid rgb(209, 194, 194);
}

.left{
    height: 100%;
    width: 75%;
    padding-top: 40px;
}
.left_1{
    background: #e8e8e8;
    height: 13%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* border-bottom: 15px solid white; */
    border-radius: 15px;
    font-size: 0;
}
.left_1_font{
    font-size: 27px;
    font-weight: 800;
    color: #8d8d8d;
}
.div_yek_sevvom{
    display: inline-block;
    height: 100%;
    width: 33.33%;
}
.yellow_background{
    background: #eec558;
    height: calc(100% + 30px);   
    border-radius: 30px;
    margin-top: -15px;
    color: white;
}
.left_2{
    height: 87%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}
.left_2_item{
    height: 75%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: #f1f1f1;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 0;
    cursor: pointer;
    
}
.left_2_item_right{
    display: inline-block;
    height: 100%;
    font-size: 20px;
    width: 55%;
    background: #eec558;
}
.left_2_item_right_frame{
    width: 100%;
    height: calc(100% + 40px);
    margin-top: -20px;
    background: #ea7b86;
    overflow: hidden;
    border-radius: 15px;
}
.kargah_title{
    font-size: 32px;
    font-weight: 900;
    color: white;
    margin-top: -15%;
    text-align: right;
    padding-right: 20%;
}
.left_2_item_left{
    font-size: 20px;
    display: inline-block;
    vertical-align: top; 
    height: 100%;
    width: 45%;
}
.left_2_item_left_frame{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    text-align: right;
}
.left_2_item_left_frame_1{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 35;
    font-weight: 600;
    color: rgb(94, 94, 94);
}
.left_2_item_left_frame_2{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 30;
    font-weight: 600;
    color: rgb(151, 151, 151);
}
.left_2_item_left_frame_3{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 35;
    font-weight: 600;
    color: rgb(151, 151, 151);
}
.rate_box{
    margin-right: 10px;
    height: 35px;
    width: 35px;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    height: 100%;
    width: 25%;
    border-left: 2px solid rgb(180, 180, 180);
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 12px;
}
.right_1{
    height: 14%;
    padding-bottom: 10px;
}
.right_2{
    height: 37%;
    background: #ea7b86;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden; 
    border-bottom: 7px solid white;
    padding-bottom: 3px;
}
.right_2_up{
    background: linear-gradient(to top , #ea7b86 10%, #f3ada5 70%);
    height: 40%;
}
.right_2_down{
    height: 60%;
    margin-right: 4px;
    margin-left: 2px;
    background: white;
    color: black;
    position: relative;
}
.moshaver_frame{
    background: linear-gradient(to top , #ea7b86 40%, #f59d9c 100%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: calc(50% - 50px);
    top: -60px;
    padding: 5px;
}
.moshaver_img_frame{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: blue;
}
.message_frame{
    position: absolute;
    top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 600;
    color: #6e6e6e;
}
.img_fill_div{
    width: 100%;
    height: 100%;
}
.right_3{
    height: 40%;
    overflow-y: scroll;
}
.right_3_today{
    height: 15vh;
    background: #f4d459;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    padding-left: 20px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right_3_week{
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #c9c8b5;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    margin-top: -6px;
    padding-top: 6px;
}
.right_3_week_day{
    height: 10vh;
    border-bottom: 1px solid #c9c8b5;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered_text_div
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.right_3_week_day_left{
    display: inline-block;
    width: 65%;
    height: 100%;
    font-size: 23px;
    font-weight: 500;
    color: rgb(85,85,85);
    
}
.right_3_week_day_right{
    display: inline-block;
    width: 35%;
    height: 100%;
    font-size: 20px;
    font-weight: 400;
    color: rgb(150,150,150);
    padding-right: 10px;
}
.right_4{
    height: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.my_button{
    border-radius: 20px;
    background: #e9e9e9;
    height: 4vh;
    width: 7vw;
}
.my_button:hover{
    background: #8b8080;
}
.a_ok_color{
    color: inherit;
}