.left_2{
    height: 87%;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 97%;
    margin-left: auto;
    /* background: red; */
    font-size: 0px;
}
.left_2_left{
    display: inline-block;
    height: 100%;
    width: 30%;
    /* background: blue; */
    color: black;
    font-size: 40px;
    vertical-align: top;
}
.left_2_left_item{
    height: 25%;
    width: 100%;
}
.left_2_left_item_1{
    height: calc(100% - 5px);
    padding-left: 5px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}

.left_2_left_item_3{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    margin-top: 10%;
    align-items: center;
    cursor: pointer;
}
.left_2_left_item_3_card_1 >img:hover{
    opacity: 0.9;
}
.left_2_left_item_3_card_1{
    width: 5vw;
    height: 5vw;
    background: #914209;
    border-radius: 50%;
    overflow: hidden;
}
.left_2_left_item_3_card_2{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #888888;
}
.left_2_left_item_3_card{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left_2_left_item_1_card:hover{
    background: gray;
}
.left_2_left_item_1_card{
    width: 25%;
    height: 100%;
    background: #bebebe;
    background: linear-gradient(to top, #bebebe , white ,#bebebe);
    padding: 10px;
    padding-top: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.left_2_left_item_1_card_img{
    height: 100%;
    width: 100%;
    background: yellow;
    box-shadow: 0px 5px 5px rgb(112, 112, 112);
}

.left_2_left_item_2{
    background: #914209;
    border-radius: 5px;
    height: 5px;
    width: 100%;
}
.left_2_right{
    display: inline-block;
    width: 70%;
    height: 100%;
    /* background: cyan; */
    vertical-align: top;
    color: black;
    font-size: 40px;
    overflow-y: scroll;
    padding-right: 5%;
    padding-left: 3%;
}

.left_2_right_item:hover .left_2_right_item_2_left > img{
    opacity: 0.9;
}
.left_2_right_item{
    width: 100%;
    /* margin-bottom: 10px; */
    margin-top: 30px;
    text-align: right;
    cursor: pointer;
}
.left_2_right_item_1{
    width: 100%;
    background: white;
    font-size: 30px;
    font-weight: 700;
    color: rgb(150, 0, 150);
}
.left_2_right_item_2{
    width: 100%;
    font-size: 0;
    color: black;
}
.left_2_right_item_2_left{
    overflow: hidden;
    display: inline-block;
    width: 30%;
    height: auto;
    border-radius: 15px;
    font-size: 20px;
    background: blue;
    vertical-align: top;
}
.left_2_right_item_2_right{
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
    color: rgb(110,110,110);
    width: 70%;
    vertical-align: top;
    padding-left: 7%;
        
}
