.corner_rounded{
    border-radius: 15px;
}

.nice_margin{
    margin-left: 5px;
    margin-right: 5px;
}
.margin_left{
    margin-left: 5px;
}
.margin_right{
    margin-right: 5px;
}
.margin_top{
    margin-top: 5px;
}
.margin_down{
    margin-bottom: 5px;
}

.img_fill_div{
    width: 100%;
    height: 100%;
}

.grad1{
    height: 100%;
    background: rgb(76, 0, 255); /* For browsers that do not support gradients */
    background: linear-gradient(to right,#b247a5, 
    rgb(248, 92, 118),rgb(248, 92, 118),
    rgb(248, 92, 118), rgb(236, 214, 14)); /* Standard syntax (must be last) */
    width: 100%;
    color: white;
    font-size:40px;
    /* line-height: 90px ; */
    text-align: center;
    border-bottom: 8px solid;
}

.header {
    height: 70px;
    line-height: 70px;
    top: 0;
    width: 100%;
}

.user_header{
    background: #facb5f; 
    height: 60px;
    line-height: 60px;
    color: white;
    border-radius: 15px;
    font-size: 30px;
}

.user_pic{
    width: 50px;
    height: 50px;
    margin-left: 25px;
}

.prof_img_border{
    margin-right: 20px;
    margin-left: 20px;
    border-left: 1px solid rgb(228, 217, 217);
}

.right_screen{
    display: flex;
    flex-direction: row;
}
.nemudar_height{
    height: 40vh;
}
.azmoun_height{
    height: 30vh;
}
.right_screen_width{
    width: 60%;
}
.score_width{
    width: 40%;
}

.azmoun{
    background: #ffe7c3;
    font-size: 10px;
    padding: 5px;
    padding-right: 10px;
}

.right_text{
    text-align: right;
}
.left_text{
    text-align: left;
}
.center_text{
    text-align: center;
}
.purple_color{
    color: #805c5e;
}

.friends{
    /* position:relative; */
    background: linear-gradient(120deg ,
    #45446e,
    #45446e 33% ,
    #7a77ba 33%,
    #7a77ba 67%,
    #c2c3f3 67%);                  
    
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 10px; */
}

.score{
    background: linear-gradient(135deg , #c4e9c8 50%, #aedab6 50%);         
    height: 50%;  
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content: center;  
}
.medals{
    background:#c4e9c8;       
    height: 50%;
    display: flex;
    border-top: 5px solid white;
    flex-direction: row;
    padding: 10px;
    justify-content: center;  
    /* align-items: center; */
}

.p_nospace{
    margin-bottom: -0.5em;
    margin-top: 0em;
}
.num_font_size{
    font-size: 60px;
}