::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb{
    background: #18184e;
}

.corner_rounded{
    border-radius: 15px;
}

.nice_margin{
    margin-left: 5px;
    margin-right: 5px;
}
.margin_left{
    margin-left: 5px;
}
.margin_right{
    margin-right: 5px;
}
.margin_top{
    margin-top: 5px;
}
.margin_down{
    margin-bottom: 5px;
}

.img_fill_div{
    width: 100%;
    height: 100%;
}

.grad1{
    height: 100%;
    background: rgb(76, 0, 255); /* For browsers that do not support gradients */
    background: linear-gradient(to right,#b247a5, 
    rgb(248, 92, 118),rgb(248, 92, 118),
    rgb(248, 92, 118), rgb(236, 214, 14)); /* Standard syntax (must be last) */
    width: 100%;
    color: white;
    font-size:40px;
    /* line-height: 90px ; */
    text-align: center;
    border-bottom: 8px solid;
}

.header {
    height: 70px;
    line-height: 70px;
    top: 0;
    width: 100%;
}

.user_header{
    background: #facb5f; 
    height: 60px;
    line-height: 60px;
    color: white;
    border-radius: 15px;
    font-size: 30px;
}

.user_pic{
    width: 50px;
    height: 50px;
    margin-left: 25px;
}

.prof_img_border{
    margin-right: 20px;
    margin-left: 20px;
    border-left: 1px solid rgb(228, 217, 217);
}

.right_screen{
    display: flex;
    flex-direction: row;
}
.nemudar_height{
    height: 40vh;
}
.azmoun_height{
    height: 30vh;
}
.right_screen_width{
    width: 60%;
}
.score_width{
    width: 40%;
}

.azmoun{
    background: #ffe7c3;
    font-size: 10px;
    padding: 5px;
    padding-right: 10px;
    /* border-bottom: 5px solid white; */
}
.tip{
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    padding: 0;
    font-size: 20px;
}
.right_text{
    text-align: right;
}
.left_text{
    text-align: left;
}
.center_text{
    text-align: center;
}
.purple_color{
    color: #805c5e;
}

.friends{
    /* position:relative; */
    background: linear-gradient(105deg ,
    #45446e,
    #45446e 33% ,
    #7a77ba 33%,
    #7a77ba 67%,
    #c2c3f3 67%);                  
    
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    /* padding: 10px; */
}
.friends > div{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: -10px;
    height: 100%;
    width: 100%;
}
.friends > div > div{
    width: 33.33%;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}
.friends > div > div.item1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.friends > div > div.item2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.friends > div > div.item3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.score{
    background: linear-gradient(135deg , #c4e9c8 50%, #aedab6 50%);         
    height: 50%;  
    color: white;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 10px;
    padding-bottom: 0px; 
    justify-content: center;   
}
.medals{
    background:#c4e9c8;       
    height: 50%;
    display: flex;
    border-top: 5px solid white;
    flex-direction: row;
    padding: 10px;
    justify-content: center;  
    /* align-items: center; */
}

.p_nospace{
    margin-bottom: -0.5em;
    margin-top: 0em;
}
.num_font_size{
    font-size: 60px;
}

.contact_info{
    background: #a8f0ff;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content : space-around;
    align-items: center
}

.moshaver{
    margin-left: 10px;
    /* background: red; */
    border-left: 3px solid white;
    height: 100%; width: 30%;
    display: flex;

    color: white;
    /* align-items: center;
    align-content: center; */
    text-align: left;
    /* padding: 10px; */
    justify-content: center;
    flex-direction: column;
}

.nemudar{
    height: 25vh;
    background: #42beee;
    border-radius: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* align-content: space-around; */
}

.circle_div_1{
    height: 20vh;
    width: 20vh;
    background: #e87270;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    padding: 0;
    font-size: 20px;
}
.circle_div_1_2{
    height: 15vh;
    width: 15vh;
    background-image: linear-gradient(-90deg, #f9e0e4 70% , #da97a2 80%);
    /* TODO : rang kardane behtar */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    padding: 0;
}
.circle_div_1_3{
    height: 10vh;
    width: 10vh;
    background: #e87270;       
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

.circle_div_2{
    height: 20vh;
    width: 20vh;
    background: #b171e1;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    padding: 0;
    font-size: 20px;
}
.circle_div_2_2{
    height: 15vh;
    width: 15vh;
    background-image: linear-gradient(-90deg, #e6e6fe 70% , #bd9bd7 80%);
    /* TODO : rang kardane behtar */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    padding: 0;
}
.circle_div_2_3{
    height: 10vh;
    width: 10vh;
    background: #b171e1;       
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

.circle_div_3{
    height: 20vh;
    width: 20vh;
    background: #44ce76;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    padding: 0;
    font-size: 20px;
}
.circle_div_3_2{
    height: 15vh;
    width: 15vh;
    background-image: linear-gradient(-90deg, #e6e6fe 70% , #81dca3 80%);
    /* TODO : rang kardane behtar */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    padding: 0;
}
.circle_div_3_3{
    height: 10vh;
    width: 10vh;
    background: #44ce76;       
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

.circle_div_4{
    height: 20vh;
    width: 20vh;
    background: #eac553;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    padding: 0;
    font-size: 20px;
}
.circle_div_4_2{
    height: 15vh;
    width: 15vh;
    background-image: linear-gradient(-90deg, #e6e6fe 70% , #e8cf7b 80%);
    /* TODO : rang kardane behtar */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
    padding: 0;
}
.circle_div_4_3{
    height: 10vh;
    width: 10vh;
    background: #eac553;       
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

.menu{
    /* padding: 20px;    */
    background: red;
    background: linear-gradient(to right, #e2aeff ,#e796ff);
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    /* //to delete later */
}

.menu_2{
    display: table;
    /* align-content: space-between; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
    table-layout: fixed;
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    color: #b76ccc;
    /* margin-top: 10px; */
}

.menu_3{
    display: table;
    /* align-content: space-between; */
    background: linear-gradient(to top,#c596f1 , #cd92f9);
    /* background: red; */
    margin-right: -10px;
    align-items: center;
    table-layout: fixed;
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    color: #b260d7;
    /* margin-top: 10px; */        
}
.tozihat_panel{
    min-height: 34vh;
    max-height: 45vh;
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
    background: red;
    background: linear-gradient(to top,#b787f7 , #9e50eb);
    /* background: #9e50eb; */
    /* background: #b787f7; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
}

.a_ok_color{
    color: inherit;
    /* display: block;

    text-decoration: none; */

}

.transparency{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;          
    background: #ebc08c;
    height: calc(60% + 30px);
    margin-top: -25px;
    margin-right: -10px;
    margin-left: -5px;
    /* display: table; */

}

/* Skew the container one way */
/* .skewed {
    margin-top: 100px;
    background-color: red;
    width: 100%;
    transform: skewY(-10deg);
}  */

/* aside {
    background: blue;
    display: flex;
    width: 100%;
    /* margin: 50px auto 0; */
    /* padding: 20px; */
    /* width: 200px; */
    /* box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.9); */
    /* border-radius: 25px; */
/* }

.skew-neg {
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
}

.skew-pos {
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -o-transform: skewY(2deg);
    transform: skewY(2deg);
}  */

/* .container1 {
    overflow: hidden;
  }
  
  #parallelogram {
    width: 100%;
    height: 100px;
    margin: 0 0 0 -20px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: red;
    overflow: hidden;
    position: relative;
  }
  
  .image {
    background: url(http://placekitten.com/301/301);
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
  } */